<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nut Sorter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button color="{{color}}" expand="block" shape="round" (click)="switch()"><ion-icon name="power-outline"></ion-icon>{{buttonstatus}}</ion-button>
  </div>
</ion-content>
